extends layout

block content
  h1= title
  h2 Edit App Setting
    form.w-50(name="app_setting_edit", method="post")
      input.form-control(name="id", id="id", type="hidden", value=`${app_setting.id}`)
      input.form-control(name="orig_val", id="orig_val", type="hidden", value=app_setting.value)
      div.input-group-sm
        span.col-form-label-sm App Setting Name
        input.form-control(name="name", id="name", type="text", value=(app_setting.name || ""))
      div.input-group-sm
        span.col-form-label-sm App Setting Value
        input.form-control(name="value", id="value", type="text", value=(app_setting.value || ""))
      div.input-group-sm
        span.col-form-label-sm Environment
        select.form-control(name="env", id="env")
          each env in env_list
            option(value=env, selected=(env === app_setting.env)) #{env}
      div.input-group-lg
        input.form-control.btn.btn-success(name="submit", type="submit")