extends layout
include flash_message
block content
  script(src='/javascripts/mft_schedules.js')
  h1= title
  //p #{mft_schedule.endpoint_id}
  //p #{mft_schedule.Endpoint.id}
  //p #{typeof(mft_schedule.endpoint_id)}
  //p #{typeof(mft_schedule.Endpoint.id)}
  //p #{typeof(endpoints[0].id)}
  p Welcome to Edit MFT Schedule View
    if error_message
      h3.alert-danger #{error_message}
    form.w-50(name="mft_schedule_add", method="post")
      input.form-control(name="redirect", id="redirect", type="hidden", value=`${redirect}`)
      input.form-control(name="id", id="id", type="hidden", value=`${mft_schedule.id}`)
      div.input-group-lg
        span.col-form-label-lg Set Schedule Active? 
        input.form-check-inline(name="active", type="checkbox", checked=(mft_schedule.active))
      div.input-group-lg
        span.col-form-label-lg Reset Last Run? 
        input.form-check-inline(name="reset_last_run", type="checkbox")
      div.input-group-lg
        span.col-form-label-lg Endpoint 
        select.form-control(name="endpoint_id", id="endpoint_id")
          each endpoint in endpoints
            option(value=endpoint.id, selected=(mft_schedule.Endpoint.id === endpoint.id)) #{endpoint.bw_process_ident}
      div.input-group-sm
        span.col-form-label-sm MFT Schedule Name (General name) 
        input.form-control(name="name", id="name", type="text", value=(mft_schedule.name || ""))
      div(id="div_freq_type").input-group-lg
        span.col-form-label-lg Frequency Type 
        select.form-control(name="freq_type", id="freq_type")
          each frequency_type in frequency_types
            if(frequency_type !== 'Multi Day Of Week' || frequency_type !== 'Multi Times a Day')
              option(selected=(frequency_type === mft_schedule.freq_type)) #{frequency_type}
      div(id="div_freq_interval_minutes").input-group-lg
        span.col-form-label-lg Frequency Interval (Minutes) 
        select.form-control(name="freq_interval_minutes", id="freq_interval_minutes")
          - for (var x = 1; x < 60; x++)
            option(selected=(x === mft_schedule.freq_interval && mft_schedule.freq_type === 'Minutes')) #{x}
      div(id="div_freq_interval_hours").input-group-lg
        span.col-form-label-lg Frequency Interval (Hours) 
        select.form-control(name="freq_interval_hours", id="freq_interval_hours")
          - for (var x = 1; x < 24; x++)
            option(selected=(x === mft_schedule.freq_interval && mft_schedule.freq_type === 'Hours')) #{x}
      div(id="div_freq_interval_days").input-group-lg
        span.col-form-label-lg Frequency Interval (Daily) 
        select.form-control(name="freq_interval_days", id="freq_interval_days")
          - for (var x = 1; x <= 365; x++)
            option(selected=(x === mft_schedule.freq_interval && mft_schedule.freq_type === 'Daily')) #{x}
      div(id="div_freq_interval_monthly_weekly").input-group-lg
        span.col-form-label-lg Frequency Interval (nth weekday of month) 
        select.form-control(name="freq_interval_monthly_weekly", id="freq_interval_monthly_weekly")
          each monthly_weekly_option in monthly_weekly_options
            option(value=`${monthly_weekly_option.value}`, selected=(monthly_weekly_option.value === mft_schedule.freq_interval && mft_schedule.freq_type === 'Monthly_Weekly')) #{monthly_weekly_option.label}
      div(id="div_sub_freq_interval_monthly_weekly").input-group-lg
        span.col-form-label-lg Frequency Interval (Monthly_Weekly) 
        select.form-control(name="sub_freq_interval_monthly_weekly", id="sub_freq_interval_monthly_weekly")
          each weekday in weekdays
            option(value=`${weekday.value}`, selected=(weekday.value === mft_schedule.sub_freq_interval && mft_schedule.freq_type === 'Monthly_Weekly') ) #{weekday.label}
      div(id="div_freq_interval_weekly").input-group-lg
        span.col-form-label-lg Frequency Interval (Weekly) 
        select.form-control(name="freq_interval_weekly", id="freq_interval_weekly")
          each weekday in weekdays
            option(value=`${weekday.value}`, selected=(weekday.value === mft_schedule.sub_freq_interval && mft_schedule.freq_type === 'Weekly')) #{weekday.label}
      div(id="div_freq_interval_monthly").input-group-lg
        span.col-form-label-lg Frequency Interval (Monthly) 
        select.form-control(name="freq_interval_monthly", id="freq_interval_monthly")
          option(value=-1) Month End
          - for (var x = 1; x <= 31; x++)
            option(selected=(x === mft_schedule.freq_interval && mft_schedule.freq_type === 'Monthly')) #{x}
      div(id="div_sub_day_freq_type").input-group-lg
        span.col-form-label-lg Sub Day Frequency Type 
        select.form-control(name="sub_day_freq_type", id="sub_day_freq_type")
          each sub_day_frequency_type in sub_day_frequency_types
            option(selected=(sub_day_frequency_type === mft_schedule.sub_day_freq_type)) #{sub_day_frequency_type}
      div(id="div_sub_day_stop_schedule").input-group-lg
        span.col-form-label-lg Stop Sub Day Schedule When File(s) Found
        input.form-check-inline(name="sub_day_stop_schedule", type="checkbox", checked=(mft_schedule.sub_day_stop_schedule))
      div(id="div_sub_day_freq_interval_minutes").input-group-lg
        span.col-form-label-sm Sub Day Frequency Interval (Minutes) 
        select.form-control(name="sub_day_freq_interval_minutes", id="sub_day_freq_interval_minutes")
          - for (var x = 1; x < 60; x++)
            option(selected=(x === mft_schedule.sub_day_freq_interval && mft_schedule.sub_day_freq_type === 'Minutes')) #{x}
      div(id="div_sub_day_freq_interval_hours").input-group-lg
        span.col-form-label-sm Sub Day Frequency Interval (Hours) 
        select.form-control(name="sub_day_freq_interval_hours", id="sub_day_freq_interval_hours")
          - for (var x = 1; x <= 12; x++)
            option(selected=(x === mft_schedule.sub_day_freq_interval && mft_schedule.sub_day_freq_type === 'Hours')) #{x}
      div(id="div_sub_day_start_time").input-group-lg
        span.col-form-label-sm Sub Day Schedule Start Time (optional)
        input.form-control(name="sub_day_start_time", id="sub_day_start_time", type="time", value=(mft_schedule.sub_day_start_time || ""))
      div(id="div_sub_day_end_time").input-group-lg
        span.col-form-label-sm Sub Day Schedule End Time (optional)
        input.form-control(name="sub_day_end_time", id="sub_day_end_time", type="time", value=(mft_schedule.sub_day_end_time || ""))
      div(id="div_spec_date").input-group-lg
        span.col-form-label-lg Specific Date
        input.form-control(name="spec_date", id="spec_date", type="date", value=(mft_schedule.spec_date || ""))
      div(id="div_spec_time").input-group-lg
        span.col-form-label-lg Specific Time 
        input.form-control(name="spec_time", id="spec_time", type="time", value=(mft_schedule.spec_time || ""))
      div(id="div_pause_start").input-group-lg
        span.col-form-label-sm Schedule Pause Start (optional) 
        input.form-control(name="pause_start", id="pause_start", type="time", value=((mft_schedule.pause_start) ? dateformat(mft_schedule.pause_start, "HH:MM") : "")) 
      div(id="div_pause_end").input-group-lg
        span.col-form-label-sm Schedule Pause End Time (optional)
        input.form-control(name="pause_end", id="pause_end", type="time", value=((mft_schedule.pause_end) ? dateformat(mft_schedule.pause_end, "HH:MM") : ""))
      div.input-group-lg
        input.form-control.btn.btn-success(name="submit", type="submit")
      