extends layout

block content
  link(rel='stylesheet', href='/stylesheets/multi-select.css')
  script(src='/javascripts/jquery.multi-select.js')
  script(src='/javascripts/user.js')
  h1= title
  p Welcome to Edit User View
  form.w-50(name="user_add", method="post")
    input.form-control(name="id",id="id",type="hidden",value=`${user.id}`)
    div.input-group-sm
      span.col-form-label-sm Username
      input.form-control(name="username",id="username",type="text",value=`${user.username}`)
    div.input-group-sm
      span.col-form-label-sm Email
      input.form-control(name="email",id="email",type="text",value=`${user.email}`)
    div.input-group-sm
      span.col-form-label-sm Password (leave blank to NOT change)
      input.form-control(name="password",id="password",type="password")
    div.input-group-sm
      span.col-form-label-sm Role
      select.form-control(name="role", id="role")
        option(selected=('admin' === user.role)) admin
        option(selected=('analyst' === user.role)) analyst
    div(id="div_endpoints").input-group-lg
      span.col-form-label-sm Analyst Endpoints to View
      select(name="endpoints[]", id="endpoints" multiple="multiple")
        each e_type, k in endpoints_by_type
          optgroup(label=`${k}`) #{k}
            each endpoint in e_type
              - var s = false;
              - if(eids.includes(endpoint.id)){ s = true; }
              option(value=`${endpoint.id}`, selected=s) #{endpoint.bw_process_ident}
    div.input-group-lg
      input.form-control.btn.btn-success(name="submit", type="submit")